/build*/
/cmake-build-*/
/dusklight/
.idea/
.DS_Store
.vs/
.vscode/
.idea/
out/

# I have the original unedited assets to help working in the `original` folder, that I don't want to push
# It helps for faster debug and copy paste if I had deleted a text
/original/
